<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爱摄群优秀作业评比</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.0/weui.css">
        <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.0/weui.min.css">
        <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>

<div class="weui-tab">
    <div class="weui-tab__panel">
<form action="{% url 'phodo:rate' %}" method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {{form.non_field_errors}}
    <label class="weui-cells__title" for="id_choide_0">选个更好的图：</label>
    <div class="weui-panel weui-cells_radio">
    <ul class="weui-cells  weui-panel weui-panel_access" id="id_choice">

    {{form.choice.errors}}
        {% for item in formchoices %}
        <li>


            <label class="weui-cell weui-check__label" for="{{item.id}}">

                <div style="background: url({{item.url}}) no-repeat center center;background-size: 100% auto; height: 300px; width: 600px;">

            <div class="weui-cell__hd">
                <input class="weui-check" id="{{item.id}}" name="{{form.choice.html_name}}" type="radio" value="{{item.value}}" required >
                <span class="weui-icon-checked"></span>
        </div>
                    <div class="weui-cell__ft">
                    <p>{{item.tag}}</p>
                    </div>

                </div>
            </label>

        </li>
        {% endfor %}
    </ul>
        </div>
    <input class="weui-btn weui-btn_primary" type="submit" value="确定" />
</form>
    </div>
    <div class="weui-tabbar">
        <a href="{% url 'phodo:rate' %}" class="weui-tabbar__item weui-bar__item_on">
            <!--<img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">-->
            <p class="weui-tabbar__label">比图</p>
        </a>
        <a href="{% url 'phodo:upload' %}" class="weui-tabbar__item">
            <!--<img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">-->
            <p class="weui-tabbar__label">传图</p>
        </a>
        <a href="{% url 'phodo:result' %}" class="weui-tabbar__item">
            <!--<img src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">-->
            <p class="weui-tabbar__label">榜单</p>
        </a>
    </div>
</div>



</body>
</html>